<h2 id="extra-rules">Extra Rules</h2>
<p>
  Awesome people have written additional rules that you can use with
  Foodcritic.
</p>

<h3>Sous Chefs Foodcritic Rules</h3>

<p>
  <a href="https://github.com/sous-chefs/sc-foodcritic-rules">https://github.com/sous-chefs/sc-foodcritic-rules</a>
</p>
<%= partial "rules_list", :locals => {:rules => [
  {'code' => 'SC001', 'name' => 'Missing Berksfile'},
  {'code' => 'SC002', 'name' => 'Missing CHANGELOG in markdown format'},
  {'code' => 'SC004', 'name' => 'Missing CODE_OF_CONDUCT in markdown format'},
  {'code' => 'SC005', 'name' => 'Missing CONTRIBUTING in markdown format'},
  {'code' => 'SC014', 'name' => 'metadata.rb should use sous-chefs style source_url'},
  {'code' => 'SC015', 'name' => 'metadata.rb should use sous-chefs style issues_url'},
  {'code' => 'SC016', 'name' => 'metadata.rb should use sous-chefs style maintainer'},
  {'code' => 'SC017', 'name' => 'metadata.rb should use sous-chefs style maintainer_email'},
  {'code' => 'SC020', 'name' => 'Missing .kitchen.yml'},
  {'code' => 'SC021', 'name' => 'Missing .travis.yml'}
]} %>

<h3>CustomInk Foodcritic Rules</h3>

<p>
  <a href="https://github.com/customink-webops/foodcritic-rules">https://github.com/customink-webops/foodcritic-rules</a>
</p>
<%= partial "rules_list", :locals => {:rules => [
  {'code' => 'CINK001', 'name' => 'Missing CHANGELOG in markdown format'},
  {'code' => 'CINK002', 'name' => 'Prefer single-quoted strings'},
  {'code' => 'CINK003', 'name' => 'Don\'t hardcode apache user or group'}
]} %>

<h3>Etsy Foodcritic Rules</h3>

<p>
  <a href="https://github.com/etsy/foodcritic-rules">https://github.com/etsy/foodcritic-rules</a>
</p>
<%= partial "rules_list", :locals => {:rules => [
  {'code' => 'ETSY001', 'name' => 'Package or yum_package resource used with :upgrade action'},
  {'code' => 'ETSY004', 'name' => 'Execute resource defined without conditional or action :nothing'},
  {'code' => 'ETSY005', 'name' => 'Action :restart sent to a core service'},
  {'code' => 'ETSY006', 'name' => 'Execute resource used to run chef-provided command'},
  {'code' => 'ETSY007', 'name' => 'Package or yum_package resource used to install core package without specific version number'}
]} %>

<h3>Lookout Foodcritic Rules</h3>

<p>
  <a href="https://github.com/lookout/lookout-foodcritic-rules">https://github.com/lookout/lookout-foodcritic-rules</a>
</p>
<%= partial "rules_list", :locals => {:rules => [
  {'code' => 'LKOUT001', 'name' => 'Include a chefspec test for every recipe'},
  {'code' => 'LKOUT002', 'name' => 'apt_repository should not download a key over plain http'},
  {'code' => 'LKOUT003', 'name' => 'specify a uid and gid when creating a user'},
  {'code' => 'LKOUT004', 'name' => 'specify a gid when creating a group'}
]} %>
