<div class="row">
  <div class="col-6 col-lg-6">
    <img src="images/foodcritic.png" />
  </div>
  <div class="col-6 col-lg-6">
    <h1>About Foodcritic</h1>
    <p>
      Foodcritic is a helpful lint tool you can use to check your Chef
      cookbooks for common problems.
    </p>
    <p>
      It comes with <b><%= rule_count %></b> built-in rules that identify problems ranging
      from simple style inconsistencies to difficult to diagnose issues that will
      hurt in production.
    </p>
    <p>
      Various nice people in the Chef community have also written extra rules
      for foodcritic that you can install and run. Or write your own!
    </p>
    <p>
      It's easy to get started:
    </p>
    <p>
      <code>$ gem install foodcritic</code><br />
      <code>$ foodcritic my_cookbook_dir</code>
    </p>
  </div>
</div>

